body {
    background-image: url(../images/b2.jpg);
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: arial;
}

#wrapper {
    width: 50%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 3em;
    margin-top: 40px;
    max-width: 1000px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2.5em;
}

#subtitle {
    font-size: 1.5em;
    display: inline;
}

nav {
    background-image: url(../images/background.jpg);
    background-position: 50% 30%;
    height: 30vh;
}

nav ul {
    /* Removes list indent on left side */
    padding-left: 0px;
    /* Organizes links into grid layout */
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    /* Centers img links within their grid items */
    place-items: center;
    /* The logo hover effect moves them up by 10px, so this padding at the top ensures that the logos don't go outside of the nav box when hovered over */
    padding-top: 10px;
}

nav ul li a {
    /* Affects size of image links */
    font-size: 2em;
}

nav ul li {
    /* Removes bullet points for nav list */
    list-style-type: none;
}

nav ul li a img {
    /* Also affects size of image links */
    max-height: 2.3em;
}

nav a img:hover {
    translate: 0px -10px;
}

#devourment {
    /* Prevents image from being massive */
    max-height: 3em;
    /* Vertically aligns logo with other text */
    position: relative;
    top: 1.2em;
    left: 0.2em
}

#greasing {
    margin-top: 1em;
    height: 2.5em;
}

p {
    margin: 0.5em;
}

.img {
    width: 35%;
    margin: 0.5em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    float: none;
}

/* https://techstacker.com/how-to-responsive-youtube-videos/ */

/* Div element containing YouTube video */
.video {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.video::after {
    display: block;
    content: "";
    /* The following value is the aspect ratio of the video; height/width = % */
    padding-top: 56.25%;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#year {
    margin-top: 1em;
    height: 2.5em;
    display: block;
}

#uni {
    margin-top: 1em;
    height: 2.5em;
    display: block;
}

#uni3 {
    margin-top: 1em;
    height: 2.5em;
    display: block;
}

.heading {
    margin-top: 1em;
    height: 2.5em;
    display: block;
}

.big_img {
    width: 100%;
}

#edm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    column-gap: 10px;
}

.edm {
    width: 100%;
}

#button {
    position: fixed;
    bottom: 1px;
    right: 150px;
    z-index: 1;
}

#button a {
    font-size: 4em;
}

#button:hover {
    filter: brightness(0.8);
}

*{
    scroll-behavior: smooth;
}

#topimg {
    height: 1em;
}

.textlink {
    color: red;
}

.textlink:hover {
    filter: opacity(0.8);
}

#kenny {
    position: fixed;
    bottom: 1px;
    right: 50px;
    z-index: 1;
}

#showflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.show {
    height: 200px;
}

.show:hover {
    translate: 0px -10px;
}