body {
    background-color: #616F80;
}

#wrapper {
    width: 80%;
    margin: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 3em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    
}

nav ul li a:hover {
    color: rgb(205, 203, 203);
}

main {
    text-align: center;
}

#rgbox {
    background-color: rgb(231, 227, 227);
    width: 14em;
    padding: 1px 0px 1px 0px;
    text-align:center;
    box-shadow: 5px 10px 5px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#R, #G, #B {
    display: inline;
    color: rgb(121, 120, 120);
    font-size: 2em;
}